<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	cacheResultFile="tests/.phpunit.result.cache"
	beStrictAboutTestsThatDoNotTestAnything="true"
	failOnWarning="true"
	failOnRisky="true"
	>
	<testsuites>
		<testsuite name="unit">
			<directory prefix="test-" suffix=".php">tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">includes</directory>
		</include>
		<exclude>
			<file>includes/ai/interface-ai-provider.php</file>
			<file>includes/adapters/interface-backend-adapter.php</file>
		</exclude>
	</coverage>
</phpunit>
